@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.title{
@apply  text-5xl font-extrabold;
}

.shadow-multiple {
  box-shadow: 
    0px 4px 8px 0px rgba(133, 133, 133, 0.1),
    0px 14px 14px 0px rgba(133, 133, 133, 0.09),
    0px 32px 19px 0px rgba(133, 133, 133, 0.05),
    0px 56px 23px 0px rgba(133, 133, 133, 0.01),
    0px 88px 25px 0px rgba(133, 133, 133, 0);
}

.toForm{
 border: rgba(198, 185, 45, 1);
 
 @apply rounded-2xl
}